/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/XML/wiki.xml
/XML/.goutputstream-D0Q17Y
/XML/bigwiki.xml
/XML/littlewiki.xml